{% extends 'randNum/base.html' %}

{% block title %}Генератор случайных чисел{% endblock %}
{% block content %}
    <script
  src="https://code.jquery.com/jquery-1.11.3.min.js"
  integrity="sha256-7LkWEzqTdpEfELxcZZlS6wAx5Ff13zZ83lYO2/ujj7g="
  crossorigin="anonymous"></script>

<script type="text/javascript">
    ws = new WebSocket('ws://server-mur4d1n.amvera.io:8000/ws');
    ws.addEventListener('message', function (event) {
        $("#random-number").html(event.data);
    });
</script>
    <div class="row">
        <div class="col-sm-12 mb-3">
            <h4 id="random-number" class="text-center">{{ randNum }}</h4>
        </div>
        <br>
        <p>Выполнен вход через Github как {{ user.username }}</p>
        <a href="/logout">Выйти</a>
    </div>
{% endblock %}
